
body{
  background-color:#CDFCF6;
  text-align: center;
  font-size: 1em;
  color: #40514E
}
p{
  line-height: 2;
}
.up{

  width: 100%;
  position: relative;
  margin-top:  10px;
  padding-top: 100px;

}
hr{
  border: dotted;
  color:#EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.abx{
  top: 50px;


  position:relative;
  display: inline;

}
h1{
  font-size: 5.65rem;
color: #66BFBF;
  display: inline;
  line-height: 2;
font-family: 'Sacramento', cursive;
  position: relative;
}
.skill-row{
width: 50%;
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
text-align: left;


}
h2{
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-family: 'Montserrat',sans-serif;
}
.intro{
  width: 30%;
  margin:auto;
}
.middle-container{
  margin-left: 100px 0 100px 0;
  position: relative;
  display: block;
  margin-top:  100px;
}
.profile{

  height:200px;
  width:200px;
  border-radius:600px;
  margin: auto;
display: inline;


}
.skills{

  position: relative;
  display: block;
  margin-top: 100px;


}
.skill{
  height:25%;
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 250px;

}

.chilli{
  height:25%;
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 250px;

}


}
.about{
display: inline;
position:relative;
width:  20%;
text-align: center;





}
.top-cloud{
  height: 50px;
position: absolute;
 top:40px ;
right: 397px;
}
.bottom-cloud{
  top: 400px;

  height: 60px;
  display: inline;
  position:absolute;
  left: 300px;
  margin-left: 10px;



}
.pro{

  font-family:  'Montserrat', sans-serif;
}


.mount{
  height: 400px
  top:100px;
  position: relative;
    margin: auto;



}
